@import "general";

.main {
  &__container {
    padding: 30px 55px 80px;
  }
}

.category {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    font-family: Bluescreens, sans-serif;
    font-size: 2.625rem;
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    align-items: end;
  }

  &__button-open-filter {
    display: none;
    align-items: center;
    gap: 10px;

    padding: 7px 15px;

    border-radius: 20px;
    background: $orange;
    color: white;
  }

  &__container {
    display: flex;
    gap: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(450px, auto);
    width: 100%;
  }
}

.sort {
  display: flex;
  gap: 20px;

  &__link {
    color: #9a9a9a;

    &_active {
      text-decoration: underline;
      color: $orange;
    }
  }
}

.filter {
  max-width: 245px;
  width: 100%;

  &__wrapper {
    max-height: 246px;
    margin-bottom: 55px;
    overflow-y: auto;
  }

  &__title {
    margin-bottom: 30px;

    font-size: 1.125rem;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;

    border: 1px solid $black;
    cursor: pointer;

    &_active {
      position: relative;

      background-color: $orange;
      border-color: $orange;

      &:after {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 9px;

        transform: translate(-50%, -50%);
        background: url("/img/cooperation/checkbox.svg");
        background-repeat: no-repeat;
      }
    }
  }

  &__label {
    font-family: Roboto, sans-serif;
    font-size: 0.9375rem;
  }

  &__box{
    display: none;

    margin-bottom: 20px;

    justify-content: space-between;
  }

  &__mobil-title{
    font-size: 1.625rem;
    text-transform: uppercase;
  }

  &__button-close{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    background: $orange;

    &>img{
      width: 9px;

      transform: rotate(-90deg);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px;

  border: 1px solid #e8e8e8;

  transition: box-shadow 1s;

  & > a {
    flex-grow: 1;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
  }

  &__stars {
    display: flex;
    justify-content: space-between;

    & > svg {
      width: 14px;
      height: 14px;
    }
  }

  &__heart {
    & > svg {
      width: 20px;
      height: 17px;

      stroke: #D9D9D9;
      fill: white;
      transition: stroke 0.2s, fill 0.2s;

      &:hover {
        stroke: $orange;
      }
    }
  }

  &__heart-active {
    & > svg {
      fill: $orange;
      stroke: $orange;
    }
  }

  &__img {
    position: relative;

    max-width: 200px;
    width: 100%;
    height: 200px;
    margin: 0 auto 10px;

    & > img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }

  &__weight {
    position: relative;

    max-width: 200px;
    width: 100%;
    height: 36px;
    margin: 0 auto 20px;

    font-size: 0.875rem;

    & > select {
      width: 100%;
      height: 100%;
      padding: 10px 20px;

      border-radius: 50px;
      background-color: #f4f4f4;

      appearance: none;

      &:focus {
        outline: 0;
      }
    }
  }

  &__drop-down-weight {
    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);
  }

  &__important {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-weight: 700;
  }

  &__button-buy {
    height: 35px;
    padding: 6px 12px;

    border-radius: 50px;
    cursor: pointer;
    background: $orange;
    transition: background-color 0.2s;

    &:hover {
      background-color: #7da802;
    }
  }
}

@media(max-width: 1300px) {
  .category {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media(max-width: 1050px) {
  .category {
    &__cards {
      grid-template-columns:repeat(2, 1fr)
    }
  }
}

@media(max-width: 850px) {
  .main{
    &__container{
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .category{
    &__button-open-filter{
      display: flex;
    }

    &__cards{
      grid-template-columns: repeat(3,1fr);
    }
  }

  .sort{
    display: none;
  }

  .filter{
    position: fixed;
    top:-100%;
    left:0;
    border:0;
    z-index: 10;

    display: block;

    max-width: none;
    height: 100vh;
    padding: 20px 30px;

    overflow: auto;

    background: $white;
    transition: top 1s ease-in-out;

    &__box{
      display: flex;
    }

    &_active{
      top:0;
    }
  }
}

@media (max-width: 720px) {
  .category{
    &__cards{
      grid-template-columns: repeat(2,1fr);
    }
  }
}

@media (max-width: 500px) {
  .main{
    &__container{
      padding: 30px 15px 40px;
    }
  }

  .category{
    &__cards{
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(300px, auto);
    }
  }

  .filter{
    padding: 20px 15px;
  }

  .card{
    &__img{
      max-width: 150px;
      height: 150px;
    }
  }
}